<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419185066719-973ruk4v6b8fvdime85jt8gddahhl8tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419185066719-973ruk4v6b8fvdime85jt8gddahhl8tg</string>
	<key>API_KEY</key>
	<string>AIzaSyC1kWMsc6Dx73gohjwEWCnH9B40RvcVilQ</string>
	<key>GCM_SENDER_ID</key>
	<string>419185066719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nsu.summer2023.project.cleanifi</string>
	<key>PROJECT_ID</key>
	<string>cleanifi-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanifi-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419185066719:ios:bb0d50388347a5d2549f6a</string>
</dict>
</plist>